doctype html
html
    head
        title HW 17
        meta(charset='utf-8')
        link(rel="stylesheet", type='text/css' href="static/css/main.css")
    body
        .menu
            .main-menu
                .main-menu__item
                    | About
                .main-menu__option
                    select#photos.select
                .main-menu__item
                    | Bio
                .main-menu__item
                    | Contacts
        script(src="static/js/main.js")