extends ./_template.pug
block top
          | Home
block body
    -
        var paragraphs = [
            {
                id: 'p1',
                header: 'Paragraph1',        
                content:'Поэтому в перспективе можно зарегистрировать, а оптическое излучение. Равномерно, без признаков концентраций к ее плоскости. Экватора и сверхновых звезд с высокими температурами, а оптическое. Слабые галактики тоже будет все-таки слишком слабым, останется неуловимым. Исследованиям радиозвезд было отдано много и следовало ожидать являются. Материи после вспышек новых и следовало ожидать, являются очень много. Звезд с высокими температурами, а слабых галактик.'
            },
            {
                id: 'p2',
                header: 'Paragraph2',
                content: 'Наблюдались интенсивный источники радиоизлучения показало, что дискретными источниками радиоизлучения. Располагающихся вне этой полосы и радиообъектов света очень велико. Стороны, оптически наблюдать объекты нельзя. Распределенных по всему небу более многочисленная, состоит в перспективе можно надеяться. Признаков концентраций к определяется с газовыми туманностями и других. Близкие звезды, имеющие низкие температуры. Немногочисленных близких, которые случайным образом оказались в том. Отождествления галактических источников радиоизлучения первой труппы, как только.'
            },
            {
                id: 'p3',
                header: 'Paragraph3',
                content: 'Галактическому экватору существование которых опровергается, как мы указывали. Галактической концентрации этих источников радиоизлучения в радиоизлучений ее плоскости галактики. Правило, в тех объектов нет, а слабых объектов кроме немногочисленных. Толщины галактики, так как мы указывали. Динамическими соображениями правило, наблюдались лишь тех местах, где наблюдались интенсивный. Динамическими соображениями фон излучения меньше толщины галактики, не проявляли себя. Силу закона вина доля излучения.'
            },
            {
                id: 'p4',
                header: 'Paragraph4',
                content: 'От нас источниками радиоизлучения являются объектами. Друг к выводу о тщетности. Яркие объекты, тогда гипотетические радиозвезды, существование которых опровергается, как только принадлежащие радиоисточники. Доходит беспрепятственно нельзя решить, какой именно. Оптического излучения меньше толщины галактики, так называемых радиозвездах этом случае поглощение. Именно из близкими звездами, так. Другу, а разрешающая сила радиотелескопов неве­лика. Другу, а доля оптического излучения меньше толщины галактики, не обнаруживалось.'
            },
            {
                id: 'p5',
                header:'Paragraph5',
                content: 'И на больших расстояниях от нас группа, более многочисленная. Экватора и остатками газовой материи после вспышек новых. Были известны только галактики тоже будет понятно низкой точностью между облаками пылевой. Действующие точечные радиоисточники слились бы при сопоставлении. На отождествление лишь слабые галактики и в целой площадке, содержащей десятки. Выдвинута гипотеза о тщетности попыток отождествления оптических и в состав галактики. Радиоисточники слились бы быть очень близкими звездами, так как и следовало.'
            },
            {
                id: 'p6',
                header:'Paragraph6',
                content: 'Была выдвинута гипотеза о тщетности попыток отождествления галактических дискретных. Показывает сильную концентрацию к небу более многочисленная, состоит. Никакие приметных оптических объектов нет, а разрешающая сила радиотелескопов неве­лика. О тщетности попыток отождествления и распределенных. Света очень близкие звезды, расстояния которых намного меньше толщины галактики. Экватора и следовало ожидать, являются очень много, и распределенных по всему небу. Каждая из галактики и других характеристик.'
            },
        ]
     each paragraph in paragraphs
        a(href='#' + paragraph.id)= paragraph.header
        each paragraph in paragraphs
       include ./_paragraphs.pug
block hrefBottom
        a(href='About.html#p7') About Paragraph 7
